.year_place {
  display: flex;
  flex-direction: row;
  color: #d39544;
  justify-content: space-between;
  padding: 0 10px;

}

.company {
  font-size: larger;
}

.list_items {
  padding: 0 10px;
}

.list_items>li::marker {
  color: #d39544;
}

.role {
  font-size: larger;
  font-weight: 700;
  margin-top: 20px;

}