.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  /* Optional for spacing */
  overflow-wrap: break-word;

  /* Modern word wrapping */
  padding: 0 10px;
}

.degree {
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;

  >div {
    font-weight: 400;
    word-break: break-word;

    /* Break long words */
    overflow-wrap: anywhere;

    /* Wrap text at any opportunity */
  }
}