.section_title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #4d868f;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  align-items: center;
  margin: 5px 0;
  overflow-wrap: anywhere;

  .title_image {
    width: 20px;
    height: fit-content;
  }

}