.title_body {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 10px;
  min-width: 320px;
  padding: 10px;

  >span {
    margin: 0;
    border-radius: 5px;
    color: white;
    background-color: #2b95a5b9;
    line-height: 1.7rem;
    padding: 3px 5px;
    white-space: nowrap;
  }
}